<section class="columns mt-0 mb-0">
        <div class="documentation-navigation column is-3">
            <figure>
                <%= inline_svg("brand/lesli-name.svg") %>
            </figure>
            <%= partial("documentation/navigation") %>
        </div>
        <div class="documentation-container column">
            <%= partial("partials/navigation") %>
            <div class="documentation-content">
                <h1>Git management</h1>

<p>Lesli uses git and github to build versions of all software products.</p>

<h2>Git branching</h2>

<p>To avoid conflicts between requirements developers must create a git branch to code the current requirement they are working on.  </p>

<p>In this case a Trello card, Github issue, Lesli or any other id is equal to a requirement, developers can push all the needed commits to complete the feature required to their current working branch. </p>

<p>A requirement can be: a new functionality, bug fixes and improvements.</p>

<h3>Branching system</h3>

<p><strong>Features</strong>: Every requirement must be developed on his own branch.<br>
<strong>Version</strong>: Contains a set of requirements planned to be released within a specific version.<br>
<strong>Master</strong>: Main development branch, all features branches send PR to this branch. This branch has the latest features.<br>
<strong>Test</strong>: Branch for testing and QA (this branch is a previous step for production), only version and/or master can send PR to this branch.<br>
<strong>Production</strong>: Stable branch for production environment, only the test branch can send PR to this branch.<br>
<strong>Hotfix</strong>: Branch forked from production created to fix only on bugs or important changes that needs to be fixed urgently for production.</p>

<h2>Maintenance branches</h2>

<p>As a good practice we keep a branch with the source code for every major and minor version for all our gem-like engines, including builder engines and the core itself.</p>

<p>Every repository should contain dedicated branches for every released version, for example: cloud_babel v1.0.0 belongs to the branch version-1.0.0; The goal of this approach is to continue supporting older versions of our software. providing an easy way to access to the source code of the different implementations of The Lesli Platform core, engines and builders.</p>

<p>This branch must be created manually just before a Git tag is created for #major or #minor version.</p>

            </div>
            <div class="documentation-footer">
                <div class="level">
                    <div class="level-left">
                        <div class="level-left">
                            <a href="/" class="">
                                <%= image_tag("brand/lesli-name.svg", alt: "Lesli logo", width: "68") %>
                            </a>
                        </div>
                    </div>
                    <div class="level-right">
                        <a class="mx-5" href="https://github.com/LesliTech/lesli.dev/blob/master/docs/contributing/001-git-flow.md" target="_blank">
                            Edit this page on GitHub
                        </a>
                    </div>
                </div>
            </div>
            <%= partial("partials/footer") %>
        </div>
    </section>