<main class="columns mt-0 mb-0">
        <aside class="documentation-navigation column is-3 is-hidden-touch">
            <a class="documentation-navigation-logo" href="/">
                <figure>
                    <%= inline_svg("brand/lesli-name.svg") %>
                </figure>
            </a>
            <%#= partial("documentation/navigation-sidebar") %>
            <%= partial("partials/docs-navigation-aside")%>
        </aside>
        <section class="documentation-container column">
            <%= partial("partials/docs-navigation-navbar")%>
            <div class="documentation-content">
                <h1>Development environment</h1>

<h3>Editor</h3>

<p>We recommend using <a href="https://code.visualstudio.com/">Visual Studio Code</a>. It is a free and open source editor that is available for all platforms. You can add some extensions to it to make it more useful for you.</p>

<h3>Ruby</h3>

<p>Lesli uses <a href="https://www.ruby-lang.org/">Ruby</a> as its primary programming language. The backend is written in Ruby with <a href="https://rubyonrails.org/">Ruby on Rails</a> as its framework. <strong>Lesli use the ruby version 3.1.2.</strong></p>

<h4>Installation</h4>

<p>Ruby is available for all platforms. If you need more details for the installation you can following the instructions <a href="https://www.ruby-lang.org/en/documentation/quickstart/">here</a>.  </p>

<p>To install Ruby, you have a couple of options. You can install <a href="https://www.ruby-lang.org/en/">Ruby from the official website</a>. If you choose to install it from there, you will have only one version of ruby and this can be a problem if you want to use multiple versions of ruby in different projects.  </p>

<h4>Version Managers (recommended)</h4>

<p>If you choose to install it with a version manager, you will have multiple versions of ruby, this is a good option if you use multiple versions of ruby in different projects. </p>

<p>In the Ruby community, there are two popular managers responsible for installing and maintaining multiple Ruby versions <a href="https://rvm.io/">rvm</a> (recommended) and <a href="https://rbenv.io/">rbenv</a>.  </p>

<p><strong>RVM pros over Rbenv:</strong></p>

<ul>
<li>RVM is easier to install than Rbenv.</li>
<li>RVM has more features than Rbenv.</li>
<li>RVM includes a built-in Ruby installation mechanism while Rbenv does not.</li>
</ul>

<p><strong>Rbenv pros over RVM</strong>:</p>

<ul>
<li>Rbenv is lightweight, RVM is heavier.</li>
<li>Rbenv is more developer-friendly than RVM.</li>
<li>Rbenv has a dedicated plugin for Ruby installation mechanism, RVM has it built-in.</li>
</ul>

<p>After you install ruby you need to install rails and bundler. You can use the following commands in your terminal:</p>

<p>Install rails and bundler</p>
<pre class="shell"><code>gem <span style="color: #953800">install </span>rails bundler
</code></pre>
<h3>Node.js</h3>

<p>Node.js is a JavaScript runtime built on Chrome&#39;s V8 JavaScript engine. It is used for running JavaScript in the server side. Lesli uses node to run webpack, vue and other javascript libraries for the frontend. <strong>To work with Lesli you can use the LTS version of Node.</strong></p>

<p><strong>Installation:</strong><br>
Node.js is available for all platforms. If you need more details for the installation of specific version you can following the instructions <a href="https://nodejs.org/en/">here</a>.</p>

<p><strong>Version Manager (recommended):</strong><br>
Node Version Manager (nvm) is a tool that allows the user to switch between different versions of Nodejs, helping to reduce overhead when reproducing production bugs in development environments. <a href="https://github.com/nvm-sh/nvm">The default installation</a> is only supported on macOS and Linux environments. Windows users can follow the instructions <a href="https://content.breatheco.de/es/how-to/nvm-install-windows">here</a>.<br>
For more information about nvm, you can go to this <a href="https://github.com/nvm-sh/nvm">link</a>.</p>

<p>Then you need to install yarn. You can use the following command in your </p>

<p>terminal:</p>
<pre class="shell"><code>npm <span style="color: #953800">install</span> <span style="color: #116329">-g</span> yarn
</code></pre>
<h3>Postgresql</h3>

<p>Lesli uses <a href="https://www.postgresql.org/">Postgresql</a> as its database engine. It is a free and open source database that is available for all platforms. You can install postgresql on your computer and then you can use it to create a database for Lesli. The following links provide more information about the installation of postgresql.<br>
    - <a href="https://www.postgresqltutorial.com/postgresql-getting-started/install-postgresql/">Install PostgreSQL on Windows</a><br>
    - <a href="https://www.postgresqltutorial.com/postgresql-getting-started/install-postgresql-macos/">Install PostgreSQL on macOS</a><br>
    - <a href="https://www.postgresqltutorial.com/postgresql-getting-started/install-postgresql-linux/">Install PostgreSQL on Linux</a></p>

<h3>Git</h3>

<p>Git is a version control system that is used to track changes in files. It is used to manage the codebase of Lesli.</p>

<h3>Github</h3>

<p>Github is a web-based Git repository hosting service that is used to store the codebase of Lesli. For download the codebase you need to clone the repository with ssh or with https. If you want to use ssh you need to create a ssh keys.</p>

<h3>Install engines</h3>

<p>To install engines you need to clone the repository inside the engines folder. </p>

            </div>
            <div class="documentation-footer">
                <div class="level">
                    <div class="level-left">
                        <div class="level-left">
                            <a href="/" class="">
                                <%= image_tag("brand/lesli-name.svg", alt: "Lesli logo", width: "68") %>
                            </a>
                        </div>
                    </div>
                    <div class="level-right">
                        <a class="mx-5" href="https://github.com/LesliTech/lesli.dev/blob/master/docs/contributing/001-environment.md" target="_blank">
                            Edit this page on GitHub
                        </a>
                    </div>
                </div>
            </div>
            <%= partial("partials/footer") %>
        </section>
    </main>