<section class="columns mt-0 mb-0">
        <div class="documentation-navigation column is-3">
            <figure>
                <%= inline_svg("brand/lesli-name.svg") %>
            </figure>
            <%= partial("documentation/navigation") %>
        </div>
        <div class="documentation-container column">
            <%= partial("partials/navigation") %>
            <div class="documentation-content">
                <h1>Software Release</h1>

<p>Every release of the platform should contain an unique version number, this number is calculated by an automatic action in github. </p>

<h2>Semantic Versioning 2.0.0</h2>

<p>Following the semantic versioning spec helps other developers who depend on your code understand the extent of changes in a given version, and adjust their own code if necessary.</p>

<table class="table is-bordered is-striped is-narrow is-fullwidth"><thead>
<tr>
<th>Code status</th>
<th>Stage</th>
<th>Rule</th>
<th>Example</th>
</tr>
</thead><tbody>
<tr>
<td>First release</td>
<td>New product</td>
<td>Start with 1.0.0</td>
<td>1.0.0</td>
</tr>
<tr>
<td>Backward compatible bug fixes</td>
<td>Patch release</td>
<td>Increment the third digit</td>
<td>1.0.1</td>
</tr>
<tr>
<td>Backward compatible new features</td>
<td>Minor release</td>
<td>Increment the middle digit and reset last digit to zero</td>
<td>1.1.0</td>
</tr>
<tr>
<td>Database changes</td>
<td>Minor release</td>
<td>Increment the middle digit and reset last digit to zero</td>
<td>1.1.0</td>
</tr>
<tr>
<td>Changes that break backward compatibility</td>
<td>Major release</td>
<td>Increment the first digit and reset middle and last digits to zero</td>
<td>2.0.0</td>
</tr>
</tbody></table>

<p><strong>Version number example:</strong><br>
v1.0.0 <br>
v1.1.0<br>
v1.1.2</p>

<h3>Version number structure</h3>

<p>To calculate a new version jut increase the number in the section required. </p>

<table class="table is-bordered is-striped is-narrow is-fullwidth"><thead>
<tr>
<th>number</th>
<th>description</th>
</tr>
</thead><tbody>
<tr>
<td><em>v1</em></td>
<td>general platform version</td>
</tr>
<tr>
<td><em>00</em></td>
<td>database changes</td>
</tr>
<tr>
<td><em>00</em></td>
<td>any other requirment (rails, vue, minor changes/small bug fiexes)</td>
</tr>
</tbody></table>

<h3>Build number example</h3>

<p>This build timestamp is created automatically during the compilation process executed by the github actions. </p>

<p>210730.1825 <br>
210731.1255 <br>
210731.2208 </p>

<h3>Create a new version</h3>

<p>All the new version for Core, Builders and Modules are created automatically through github actions, all you need to do es send a PR to the production branch from master or test and github will execute the necessary actions to test, compile, tag and versioning the software.  </p>

<h2>Changelog</h2>

<p>Today there is no automatic way to generate a changelong based on github commits/pull requests, so changelong must be created manually adding a friendly and general (but undestandable) description of changes released with the version.</p>

<p>This changelong must be part of the release email notification.</p>

            </div>
            <div class="documentation-footer">
                <div class="level">
                    <div class="level-left">
                        <div class="level-left">
                            <a href="/" class="">
                                <%= image_tag("brand/lesli-name.svg", alt: "Lesli logo", width: "68") %>
                            </a>
                        </div>
                    </div>
                    <div class="level-right">
                        <a class="mx-5" href="https://github.com/LesliTech/lesli.dev/blob/master/docs/git/002-software-release.md" target="_blank">
                            Edit this page on GitHub
                        </a>
                    </div>
                </div>
            </div>
            <%= partial("partials/footer") %>
        </div>
    </section>