<main class="columns mt-0 mb-0">
        <aside class="documentation-navigation column is-3 is-hidden-touch">
            <a href="/">
                <figure>
                    <%= inline_svg("brand/lesli-name.svg") %>
                </figure>
            </a>
            <%#= partial("documentation/navigation-sidebar") %>
            <%= partial("partials/docs-navigation-aside")%>
        </aside>
        <section class="documentation-container column">
            <%= partial("partials/docs-navigation-navbar")%>
            <div class="documentation-content">
                <h1>Using Docker to run Lesli</h1>

<p><br /></p>

<p>Clone the LesliDemo repository from Github</p>
<pre class="shell"><code><span style="color: #6e7781"># Inside your Rails root folder</span>
git clone git@github.com:LesliTech/LesliDemo.git 
</code></pre>
<p>Run the Lesli image</p>
<pre class="shell"><code>docker compose up
</code></pre>
<p>Navigate to the Lesli demo website using your favorite web browser: <a href="http://127.0.0.1:300">http://127.0.0.1:300</a></p>

<h3>Logging into your new Lesli application</h3>

<p>The seeders comes with default users with different roles and privileges, to see Lesli in action use the owner user:</p>

<ul>
<li>- username: hello@lesli.tech</li>
<li>- password: tardis2023$</li>
</ul>

<p><br /></p>

<blockquote>
<p>The Lesli demo Docker image includes all the Lesli modules pre-installed and a collection of sample data.</p>
</blockquote>

            </div>
            <div class="documentation-footer">
                <div class="level">
                    <div class="level-left">
                        <div class="level-left">
                            <a href="/" class="">
                                <%= image_tag("brand/lesli-name.svg", alt: "Lesli logo", width: "68") %>
                            </a>
                        </div>
                    </div>
                    <div class="level-right">
                        <a class="mx-5" href="https://github.com/LesliTech/lesli.dev/blob/master/docs/getting-started/5-demo.md" target="_blank">
                            Edit this page on GitHub
                        </a>
                    </div>
                </div>
            </div>
            <%= partial("partials/footer") %>
        </section>
    </main>