<main class="columns mt-0 mb-0">
        <aside class="documentation-navigation column is-3 is-hidden-touch">
            <a href="/">
                <figure>
                    <%= inline_svg("brand/lesli-name.svg") %>
                </figure>
            </a>
            <%#= partial("documentation/navigation-sidebar") %>
            <%= partial("partials/docs-navigation-aside")%>
        </aside>
        <section class="documentation-container column">
            <%= partial("partials/docs-navigation-navbar")%>
            <div class="documentation-content">
                <h1>Install Lesli for development</h1>

<p>The Lesli source code also is going to include the development tools to work with the Vue and SaaS applications.</p>

<h3>Install the Lesli core</h3>

<p>Clone the Lesli source code into your main Rails application</p>
<pre class="shell"><code><span style="color: #6e7781"># Inside your Rails root folder</span>
git clone git@github.com:LesliTech/Lesli.git engines/Lesli
</code></pre>
<p>Include Lesli into your Gemfile</p>
<pre class="shell"><code>gem <span style="color: #0a3069">"lesli"</span>, path: <span style="color: #0a3069">"engines/Lesli"</span>
</code></pre>
<p>Install the gems needed by Lesli to work</p>
<pre class="shell"><code>bundle <span style="color: #953800">install</span>
</code></pre>
<p>Lesli include a Rake task to start the database:</p>
<pre class="shell"><code><span style="color: #6e7781"># This task is going to migrate, seed and initialize our database.</span>
rake lesli:db:setup

<span style="color: #6e7781"># or</span>

<span style="color: #6e7781"># you can restart your database to start with a new fresh database</span>
rake lesli:db:restart
</code></pre>
<p>Mount Lesli in your main Rails application</p>
<pre class="ruby"><code><span style="color: #953800">Rails</span><span style="color: #24292f;background-color: #f6f8fa">.</span><span style="color: #8250df">application</span><span style="color: #24292f;background-color: #f6f8fa">.</span><span style="color: #8250df">routes</span><span style="color: #24292f;background-color: #f6f8fa">.</span><span style="color: #8250df">draw</span> <span style="color: #cf222e">do</span>
    <span style="color: #24292f;background-color: #f6f8fa">mount</span> <span style="color: #953800">Lesli</span><span style="color: #0550ae">::</span><span style="color: #953800">Engine</span> <span style="color: #0550ae">=&gt;</span> <span style="color: #0a3069">"/lesli"</span>
<span style="color: #cf222e">end</span>
</code></pre>
<p>Run the default Rails development server</p>
<pre class="shell"><code>rails s 
rails s <span style="color: #116329">--binding</span><span style="color: #0550ae">=</span>0.0.0.0
rails s <span style="color: #116329">--environment</span><span style="color: #0550ae">=</span><span style="color: #953800">test
</span>rails s <span style="color: #116329">--environment</span><span style="color: #0550ae">=</span>development
<span style="color: #0550ae">RAILS_SERVE_STATIC_FILES</span><span style="color: #0550ae">=</span><span style="color: #953800">true </span>rails s <span style="color: #116329">--environment</span><span style="color: #0550ae">=</span>production 
</code></pre>
<h3>Logging into your new Lesli application</h3>

<p>The seeders comes with default users with different roles and privileges, to see Lesli in action use the owner user:</p>

<ul>
<li>- username: hello@lesli.tech</li>
<li>- password: tardis2023$</li>
</ul>

<blockquote>
<p>It is possible to add development users, roles, privileges and more; we will explore this options later in the documentation.</p>
</blockquote>

            </div>
            <div class="documentation-footer">
                <div class="level">
                    <div class="level-left">
                        <div class="level-left">
                            <a href="/" class="">
                                <%= image_tag("brand/lesli-name.svg", alt: "Lesli logo", width: "68") %>
                            </a>
                        </div>
                    </div>
                    <div class="level-right">
                        <a class="mx-5" href="https://github.com/LesliTech/lesli.dev/blob/master/docs/getting-started/4-development.md" target="_blank">
                            Edit this page on GitHub
                        </a>
                    </div>
                </div>
            </div>
            <%= partial("partials/footer") %>
        </section>
    </main>