<main class="columns mt-0 mb-0">
        <aside class="documentation-navigation column is-3 is-hidden-touch">
            <a href="/">
                <figure>
                    <%= inline_svg("brand/lesli-name.svg") %>
                </figure>
            </a>
            <%#= partial("documentation/navigation-sidebar") %>
            <%= partial("partials/docs-navigation-aside")%>
        </aside>
        <section class="documentation-container column">
            <%= partial("partials/docs-navigation-navbar")%>
            <div class="documentation-content">
                <h1>Collections and Modules</h1>

<p>Lesli core is meant to work with modules (Standard RoR engines) to extend the Lesli features and create custom software as required.</p>

<p>There are several engines created and ready for production developed by the Lesli team, must of them are open source.</p>

<h3>Collections</h3>

<p>A collection is a group of modules that belongs to a category or a business industry.</p>

<ul>
<li>1 · Administration</li>
<li>2 · Sales &amp; Marketing</li>
<li>3 · Productivity &amp; Teamwork</li>
<li>4 · Finance</li>
<li>5 · Analytics</li>
<li>6 · Intelligence</li>
<li>7 · IT &amp; Help Desk</li>
<li>8 · Security &amp; Privacy</li>
<li>9 · Integrations</li>
</ul>

<h3>Module ecosystem</h3>

<p>Currently we have planned the development of 45 modules, 24 modules are already developed and ready for production.</p>

<p><strong>Lesli core:</strong></p>

<ul>
<li>01. User administration</li>
<li>02. Role &amp; privilege management</li>
<li>03. Document templates</li>
<li>04. Mailing system</li>
<li>05. Workflows</li>
</ul>

<p><strong>01 Administration:</strong></p>

<ul>
<li>01. Team: Human Resources Management</li>
</ul>

<p><strong>02 Sales &amp; Marketing:</strong></p>

<ul>
<li>04. House: Advanced real estate management</li>
<li>05. Mailer: Email automation system</li>
<li>08. Proposal*: Proposal and quotation management</li>
</ul>

<p><strong>03 Productivity &amp; Teamwork:</strong></p>

<ul>
<li>01. Driver: Unified calendar app</li>
<li>02. Work: Dynamic Project Management Assistant</li>
<li>03. Focus: Task Management</li>
<li>05. Text: Notes &amp; Notebooks</li>
<li>08. Bell: Notification system</li>
<li>10. Talk*: Business communication platform  (chat, voice calls, video calls through WebRTC)</li>
</ul>

<p><strong>04 Finance:</strong></p>

<ul>
<li>01. Books*: Accounting System</li>
<li>03. Things: Inventory management</li>
<li>05. Realty*: Real Estate Administration &amp; Investment</li>
</ul>

<p><strong>05 Analytics:</strong></p>

<p><strong>06 Intelligence:</strong></p>

<ul>
<li>06. Workflows: Process automation </li>
</ul>

<p><strong>07 IT &amp; Help Desk:</strong></p>

<ul>
<li>02. Help: Support Ticket System</li>
<li>03. Portal: Client Portal (customer dashboard) </li>
<li>05. Shared: Free &amp; Open resources</li>
</ul>

<p><strong>08 Security &amp; Privacy:</strong></p>

<ul>
<li>01. Audit*: System log analytics</li>
<li>02. Administration: Core system settings</li>
<li>03. Vault: Security management </li>
<li>04. Authority:  Multi account administration</li>
</ul>

<p><strong>09 Integrations:</strong></p>

<ul>
<li>01. Babel: Translation management</li>
<li>02. Dispatcher: HTTP REST Web API</li>
<li>03. Federation*: Cloud collaboration engine</li>
<li>04. One: Cloud Infrastructure Management</li>
<li>05. MobileApp: Multi platform mobile application</li>
</ul>

<p><br><br></p>

<blockquote>
<p>You can create your own modules, we&#39;ll cover that part later in this documentation.</p>
</blockquote>

            </div>
            <div class="documentation-footer">
                <div class="level">
                    <div class="level-left">
                        <div class="level-left">
                            <a href="/" class="">
                                <%= image_tag("brand/lesli-name.svg", alt: "Lesli logo", width: "68") %>
                            </a>
                        </div>
                    </div>
                    <div class="level-right">
                        <a class="mx-5" href="https://github.com/LesliTech/lesli.dev/blob/master/docs/getting-started/2-ecosystem.md" target="_blank">
                            Edit this page on GitHub
                        </a>
                    </div>
                </div>
            </div>
            <%= partial("partials/footer") %>
        </section>
    </main>