

<% description = data.send(I18n.locale.to_sym).component_description %>

<section class="lesli-component-description">
    <div class="container">
        <div class="component-header">
            <h2><%= description[:title] %></h2>
            <p><%= description[:description] %></p>
        </div>
        <div class="columns">
            <% description[:components].each do |component| %>
                <div class="column">
                    <a href="/engines/lesli/<%= component[:name].downcase %>">
                        <i class="<%= component[:icon] %>"></i>
                        <h3><%= component[:name] %></h3>
                        <p><%= component[:text] %></p>
                        <ul>
                            <% component[:items].each do |item| %>
                                <li><%= item %></li>
                            <% end %>
                        </ul>
                    </a>
                </div>
            <% end %>
        </div>
    </div>
</section>
