


<% engines = ["admin", "calendar", "bell", "audit", "support", "shield", "security", "babel"] %>

<% collections = data.send(I18n.locale.to_sym).component_collections %>

<% has_header = defined?(header) ? header : true %>

<section class="lesli-component-engines">
    <div class="container">
        <% if has_header %>
            <div class="component-header">
                <h2><%= collections[:title] %></h2>
                <p><%= collections[:text] %></p>
            </div>
        <% end %>
        <div class="columns">
            <% collections[:collection].each do |collection| %>
                <% collection[:engines].each do |engine| %>
                    <% if engines.include?(engine[:name].downcase) %>
                        <div class="column">
                            <a href="/engines/<%= engine[:name].downcase %>/">
                                <%= lesli_svg("engine-#{engine[:name].downcase}") %>
                                <h3><%= engine[:name] %></h3>
                                <p><%= engine[:text] %></p>
                            </a>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
</section>
