
<% available_engines = ["dashboard", "admin", "bell", "contacts", "calendar", "support", "shield", "audit", "babel"] %>

<% collections = data.send(I18n.locale.to_sym).component_collections %>

<%
# 1. Obtener todos los engines disponibles
all_engines = collections[:collection]
  .flat_map { |collection| collection[:engines] }

# 2. Filtrar solo los permitidos
filtered_engines = all_engines.select do |engine|
  available_engines.include?(engine[:name].downcase)
end

# 3. Ordenarlos según available_engines
engines = filtered_engines.sort_by do |engine|
  available_engines.index(engine[:name].downcase)
end
%>


<% has_header = defined?(header) ? header : true %>

<section class="lesli-component-engines">
    <div class="container">
        <% if has_header %>
            <div class="component-header">
                <h2><%= collections[:title] %></h2>
                <p><%= collections[:text] %></p>
            </div>
        <% end %>
        <div class="columns">
            <% engines.each do |engine| %>
                <div class="column">
                    <a href="/engines/<%= engine[:name].downcase %>/">
                        <%= lesli_svg("engine-#{engine[:name].downcase}") %>
                        <h3><%= engine[:name] %></h3>
                        <p><%= engine[:text] %></p>
                    </a>
                </div>
            <% end %>
        </div>
        <div class="component-footer">
            <p><%= collections[:foot] %></p>
        </div>
    </div>
</section>
