<!doctype html>
<html lang="en">
    <head>
        <%= partial("partials/lesli-head") %>
        <%= partial("partials/lesli-json-ld") %>
    </head>
    <body>
        <%= yield %>
        <%= javascript_include_tag "site" %>
        <%= partial("partials/lesli-links") %>
        <%= partial("partials/lesli-footer") %>
        <%= partial("partials/lesli-icon-engines") %>
        <%= partial("partials/lesli-gems") %>
        <%= partial("partials/lesli-analytics") %>
    </body>
</html>
