<%#

Lesli

Copyright (c) 2023, Lesli Technologies, S. A.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see http://www.gnu.org/licenses/.

Lesli · Ruby on Rails Development Platform.

Made with ♥ by https://www.lesli.tech
Building a better future, one line of code at a time.

@contact  hello@lesli.tech
@website  https://www.lesli.tech
@license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// · 
%>

<meta charset = "utf-8" /> 
<meta content = "text/html; charset=UTF-8" http-equiv = "Content-Type" /> 
<meta content = "width=device-width, initial-scale=1, shrink-to-fit=no" name = "viewport" /> 
<title><%= current_page.data.title || "Lesli" %> · Ruby on Rails SaaS development platform.</title>
<meta content = "<%= lesli_website_version %>" name="version">

<link rel="manifest" href="/site.webmanifest">

<link href="<%= image_path("brand/favicon.png") %>" rel="alternate icon">
<link href="<%= image_path("brand/favicon.png") %>" rel="icon" type="image/svg+xml">
<link href="<%= image_path("brand/favicon.png") %>" rel="mask-icon" color="#ff8a01">
