<main class="columns mt-0 mb-0">
        <aside class="documentation-navigation column is-3 is-hidden-touch">
            <figure>
                <%= inline_svg("brand/lesli-name.svg") %>
            </figure>
            <%= partial("documentation/navigation-sidebar") %>
        </aside>
        <div class="documentation-container column">
            <%= partial("documentation/navigation-navbar") %>
            <div class="documentation-content">
                <h1>Lesli configuration file</h1>

<p>Lesli use a file to initialize the basic settings needed to start the app. We can customize this settings using dedicated instance lesli.yml file or dedicated file per server. </p>

<p>Lesli core includes the base lesli.yml configuration file, every engine must include a lesli.yml file.</p>

<p><strong>Important:</strong> Only a builder engine can override the configuration.</p>

<h3>Location</h3>
<pre class="plaintext"><code>    Lesli/
        app
        config
        engines/
            standard_engine
                lesli.yml   -&gt; required
            builder_instance/
                lesli.yml   -&gt; required, can override the base configuration
        lib
        public
        storage
        vendor
        lesli.yml           -&gt; required
        lesli.server.yml    -&gt; optional
</code></pre>
<h3>Server configuration file</h3>

<p>You can include a file at the root of the app path to override the settings, this option is usefull to when we need to change some settings for an instalation or server, for example: if we have a test server we can change the default url for email using this special file. <strong>IMPORTANT</strong>: this file only works at the root of the rails app and is ignored in github, so you have to create the file if you want to use this feature.  </p>

<h3>NOTE:</h3>

<p>The core base settings include all the configurations available, but in the instance or server file you can include only the settings you want to change.</p>

<p>lesli.yml example located at: <a href="https://github.com/LesliTech/Lesli/blob/master/lesli.yml">https://github.com/LesliTech/Lesli/blob/master/lesli.yml</a></p>

            </div>
            <div class="documentation-footer">
                <div class="level">
                    <div class="level-left">
                        <div class="level-left">
                            <a href="/" class="">
                                <%= image_tag("brand/lesli-name.svg", alt: "Lesli logo", width: "68") %>
                            </a>
                        </div>
                    </div>
                    <div class="level-right">
                        <a class="mx-5" href="https://github.com/LesliTech/lesli.dev/blob/master/docs/ruby-on-rails/110-lesli-file.md" target="_blank">
                            Edit this page on GitHub
                        </a>
                    </div>
                </div>
            </div>
            <%= partial("partials/footer") %>
        </div>
    </section>