<section class="columns mt-0 mb-0">
        <div class="documentation-navigation column is-3 is-hidden-touch">
            <figure>
                <%= inline_svg("brand/lesli-name.svg") %>
            </figure>
            <%= partial("documentation/navigation-sidebar") %>
        </div>
        <div class="documentation-container column">
            <%= partial("documentation/navigation-navbar") %>
            <div class="documentation-content">
                <h1>Rails credentials</h1>

<p>Lesli uses rails credentials to manage sensitive application credentials securely. It allows developers to store and access sensitive information, such as API keys, database passwords, and other secrets, in an encrypted format.</p>

<h5>Manage credentials</h5>
<pre class="shell"><code><span style="color: #6e7781"># Ubuntu:</span>
<span style="color: #0550ae">EDITOR</span><span style="color: #0550ae">=</span><span style="color: #0a3069">"code --wait"</span> rails credentials:edit <span style="color: #116329">--environment</span> development
<span style="color: #0550ae">EDITOR</span><span style="color: #0550ae">=</span><span style="color: #0a3069">"code --wait"</span> rails credentials:edit <span style="color: #116329">--environment</span> production
<span style="color: #0550ae">EDITOR</span><span style="color: #0550ae">=</span><span style="color: #0a3069">"code --wait"</span> rails credentials:edit <span style="color: #116329">--environment</span> <span style="color: #953800">test
</span><span style="color: #0550ae">EDITOR</span><span style="color: #0550ae">=</span><span style="color: #0a3069">"code --wait"</span> rails credentials:edit

<span style="color: #6e7781"># MacOS/Ubuntu server:</span>
<span style="color: #0550ae">EDITOR</span><span style="color: #0550ae">=</span><span style="color: #0a3069">"nano"</span> rails credentials:edit <span style="color: #116329">--environment</span> development
<span style="color: #0550ae">EDITOR</span><span style="color: #0550ae">=</span><span style="color: #0a3069">"nano"</span> rails credentials:edit <span style="color: #116329">--environment</span> production
<span style="color: #0550ae">EDITOR</span><span style="color: #0550ae">=</span><span style="color: #0a3069">"nano"</span> rails credentials:edit <span style="color: #116329">--environment</span> <span style="color: #953800">test
</span><span style="color: #0550ae">EDITOR</span><span style="color: #0550ae">=</span><span style="color: #0a3069">"nano"</span> rails credentials:edit
</code></pre>
<h5>Standard credentials structure for Lesli</h5>
<pre class="yaml"><code><span style="color: #116329">implementation</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">lesli-localhost"</span>
<span style="color: #116329">db</span><span style="color: #24292f;background-color: #f6f8fa">:</span>
    <span style="color: #116329">database</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
    <span style="color: #116329">username</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
    <span style="color: #116329">password</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
    <span style="color: #116329">host</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span> <span style="color: #6e7781"># optional</span>
    <span style="color: #116329">port</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span> <span style="color: #6e7781"># optional</span>
<span style="color: #116329">services</span><span style="color: #24292f;background-color: #f6f8fa">:</span>
    <span style="color: #116329">jwt</span><span style="color: #24292f;background-color: #f6f8fa">:</span>
        <span style="color: #116329">secret</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">your-secret-json-web-token-key"</span>
<span style="color: #116329">providers</span><span style="color: #24292f;background-color: #f6f8fa">:</span>
    <span style="color: #116329">aws</span><span style="color: #24292f;background-color: #f6f8fa">:</span>
        <span style="color: #116329">region</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">eu-central-1</span>
        <span style="color: #116329">access_key_id</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
        <span style="color: #116329">secret_access_key</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
        <span style="color: #116329">s3</span><span style="color: #24292f;background-color: #f6f8fa">:</span> 
            <span style="color: #116329">region</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">eu-central-1</span>
            <span style="color: #116329">bucket</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
            <span style="color: #116329">access_key_id</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
            <span style="color: #116329">secret_access_key</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
        <span style="color: #116329">ses</span><span style="color: #24292f;background-color: #f6f8fa">:</span> 
            <span style="color: #116329">access_key_id</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
            <span style="color: #116329">secret_access_key</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
        <span style="color: #116329">sns</span><span style="color: #24292f;background-color: #f6f8fa">:</span> 
            <span style="color: #116329">region</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">eu-central-1</span>
            <span style="color: #116329">access_key_id</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
            <span style="color: #116329">secret_access_key</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
    <span style="color: #116329">google</span><span style="color: #24292f;background-color: #f6f8fa">:</span>
        <span style="color: #116329">maps_sdk_token</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
        <span style="color: #116329">analytics</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">track_id</span>
        <span style="color: #116329">client_id</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
        <span style="color: #116329">client_secret</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
    <span style="color: #116329">facebook</span><span style="color: #24292f;background-color: #f6f8fa">:</span>
        <span style="color: #116329">client_id</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
        <span style="color: #116329">client_secret</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
    <span style="color: #116329">apple</span><span style="color: #24292f;background-color: #f6f8fa">:</span>
        <span style="color: #116329">mapkit_token</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
        <span style="color: #116329">client_id</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
        <span style="color: #116329">team_id</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
        <span style="color: #116329">key_id</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
        <span style="color: #116329">key</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
        <span style="color: #116329">validity_period</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0550ae">10</span>
    <span style="color: #116329">firebase</span><span style="color: #24292f;background-color: #f6f8fa">:</span>
        <span style="color: #116329">api_key</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
        <span style="color: #116329">admin_sdk_private_key</span><span style="color: #24292f;background-color: #f6f8fa">:</span>
            <span style="color: #116329">type</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
            <span style="color: #116329">project_id</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
            <span style="color: #116329">private_key_id</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
            <span style="color: #116329">private_key</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
            <span style="color: #116329">client_email</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
            <span style="color: #116329">client_id</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
            <span style="color: #116329">auth_uri</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
            <span style="color: #116329">token_uri</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
            <span style="color: #116329">auth_provider_x509_cert_url</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
            <span style="color: #116329">client_x509_cert_url</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
        <span style="color: #116329">web</span><span style="color: #24292f;background-color: #f6f8fa">:</span>
            <span style="color: #116329">apiKey</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
            <span style="color: #116329">authDomain</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
            <span style="color: #116329">projectId</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
            <span style="color: #116329">storageBucket</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
            <span style="color: #116329">messagingSenderId</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
            <span style="color: #116329">appId</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
    <span style="color: #116329">honey_badger</span><span style="color: #24292f;background-color: #f6f8fa">:</span>
        <span style="color: #116329">api_key</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
        <span style="color: #116329">personal_token</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">"</span>
    <span style="color: #116329">motomo</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">site_id</span>
<span style="color: #116329">secret_key_base</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #0a3069">"</span><span style="color: #0a3069">your-secret-key-base"</span>
</code></pre>
<p>TODO: Add explanation for every entry in the credentials file</p>

            </div>
            <div class="documentation-footer">
                <div class="level">
                    <div class="level-left">
                        <div class="level-left">
                            <a href="/" class="">
                                <%= image_tag("brand/lesli-name.svg", alt: "Lesli logo", width: "68") %>
                            </a>
                        </div>
                    </div>
                    <div class="level-right">
                        <a class="mx-5" href="https://github.com/LesliTech/lesli.dev/blob/master/docs/ruby-on-rails/120-credentials.md" target="_blank">
                            Edit this page on GitHub
                        </a>
                    </div>
                </div>
            </div>
            <%= partial("partials/footer") %>
        </div>
    </section>