<main class="columns mt-0 mb-0">
        <aside class="documentation-navigation column is-3 is-hidden-touch">
            <a class="documentation-navigation-logo" href="/">
                <figure>
                    <%= inline_svg("brand/lesli-name.svg") %>
                </figure>
            </a>
            <%#= partial("documentation/navigation-sidebar") %>
            <%= partial("partials/docs-navigation-aside")%>
        </aside>
        <section class="documentation-container column">
            <%= partial("partials/docs-navigation-navbar")%>
            <div class="documentation-content">
                <h1>Customization</h1>

<p>The Lesli gem offers a seamless customization experience through an initialization file. By editing this file, you can tailor colors to create a unique and personalized theme for your Rails application.</p>

<h2>Color customization</h2>

<p>Inside our initialization file, you&#39;ll discover a dedicated section for customizing the color scheme. Simply edit the color values associated with different elements like primary color, sidebar, header, footer, background, and even hover effects.</p>

<p>See the example below</p>
<pre class="ruby"><code><span style="color: #953800">Lesli</span><span style="color: #24292f;background-color: #f6f8fa">.</span><span style="color: #8250df">configure</span> <span style="color: #cf222e">do</span> <span style="color: #0550ae">|</span><span style="color: #24292f;background-color: #f6f8fa">config</span><span style="color: #0550ae">|</span>

    <span style="color: #6e7781"># Main color palette for Lesli</span>
    <span style="color: #24292f;background-color: #f6f8fa">config</span><span style="color: #24292f;background-color: #f6f8fa">.</span><span style="color: #8250df">theme</span> <span style="color: #0550ae">=</span> <span style="color: #24292f;background-color: #f6f8fa">{</span>
        <span style="color: #0a3069">color_primary: </span><span style="color: #0a3069">"#193d8d"</span><span style="color: #24292f;background-color: #f6f8fa">,</span>
        <span style="color: #0a3069">color_sidebar: </span><span style="color: #0a3069">"#ffffff"</span><span style="color: #24292f;background-color: #f6f8fa">,</span>
        <span style="color: #0a3069">color_header: </span><span style="color: #0a3069">"transparent"</span><span style="color: #24292f;background-color: #f6f8fa">,</span>
        <span style="color: #0a3069">color_footer: </span><span style="color: #0a3069">"transparent"</span><span style="color: #24292f;background-color: #f6f8fa">,</span>
        <span style="color: #0a3069">color_background: </span><span style="color: #0a3069">"#eef2f6"</span><span style="color: #24292f;background-color: #f6f8fa">,</span>
        <span style="color: #0a3069">color_sidebar_hover: </span><span style="color: #0a3069">"#dee7ec"</span>
    <span style="color: #24292f;background-color: #f6f8fa">}</span>
<span style="color: #cf222e">end</span>
</code></pre>
<p><br></p>

<p>This is going to modify the corresponding SASS variables in the Lesli core:</p>
<pre><code>$primary (bulma) -&gt; color_primary 
$lesli-color-primary -&gt; color_primary 
$lesli-header-color -&gt; color_header 
$lesli-footer-color -&gt; color_footer 
$lesli-sidebar-color -&gt; color_sidebar 
$lesli-sidebar-hover -&gt; color_sidebar_hover 
$lesli-color-background -&gt; color_background 
</code></pre>
<p>Lesli provide the same color palette as CSS variables:</p>
<pre class="scss"><code><span style="color: #8250df">:root</span> <span style="color: #24292f;background-color: #f6f8fa">{</span>
    <span style="color: #116329">--lesli-color-primary</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #8250df">var</span><span style="color: #24292f;background-color: #f6f8fa">(</span><span style="color: #0550ae">--</span><span style="color: #24292f;background-color: #f6f8fa">lesli-theme-color-primary</span><span style="color: #0550ae">,</span> <span style="color: #24292f">#{</span><span style="color: #0550ae">$lesli-color-primary</span><span style="color: #24292f">}</span><span style="color: #24292f;background-color: #f6f8fa">);</span>    
    <span style="color: #116329">--lesli-header-color</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #8250df">var</span><span style="color: #24292f;background-color: #f6f8fa">(</span><span style="color: #0550ae">--</span><span style="color: #24292f;background-color: #f6f8fa">lesli-theme-header-color</span><span style="color: #0550ae">,</span> <span style="color: #24292f">#{</span><span style="color: #0550ae">$lesli-header-color</span><span style="color: #24292f">}</span><span style="color: #24292f;background-color: #f6f8fa">);</span>
    <span style="color: #116329">--lesli-navbar-color</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #8250df">var</span><span style="color: #24292f;background-color: #f6f8fa">(</span><span style="color: #0550ae">--</span><span style="color: #24292f;background-color: #f6f8fa">lesli-theme-header-color</span><span style="color: #0550ae">,</span> <span style="color: #24292f">#{</span><span style="color: #0550ae">$lesli-navbar-color</span><span style="color: #24292f">}</span><span style="color: #24292f;background-color: #f6f8fa">);</span>    
    <span style="color: #116329">--lesli-footer-color</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #8250df">var</span><span style="color: #24292f;background-color: #f6f8fa">(</span><span style="color: #0550ae">--</span><span style="color: #24292f;background-color: #f6f8fa">lesli-theme-footer-color</span><span style="color: #0550ae">,</span> <span style="color: #24292f">#{</span><span style="color: #0550ae">$lesli-footer-color</span><span style="color: #24292f">}</span><span style="color: #24292f;background-color: #f6f8fa">);</span>
    <span style="color: #116329">--lesli-sidebar-color</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #8250df">var</span><span style="color: #24292f;background-color: #f6f8fa">(</span><span style="color: #0550ae">--</span><span style="color: #24292f;background-color: #f6f8fa">lesli-theme-sidebar-color</span><span style="color: #0550ae">,</span> <span style="color: #24292f">#{</span><span style="color: #0550ae">$lesli-sidebar-color</span><span style="color: #24292f">}</span><span style="color: #24292f;background-color: #f6f8fa">);</span>
    <span style="color: #116329">--lesli-logo-color</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #8250df">var</span><span style="color: #24292f;background-color: #f6f8fa">(</span><span style="color: #0550ae">--</span><span style="color: #24292f;background-color: #f6f8fa">lesli-theme-logo-color</span><span style="color: #0550ae">,</span> <span style="color: #24292f">#{</span><span style="color: #0550ae">$lesli-logo-color</span><span style="color: #24292f">}</span><span style="color: #24292f;background-color: #f6f8fa">);</span>
    <span style="color: #116329">--lesli-font-color</span><span style="color: #24292f;background-color: #f6f8fa">:</span> <span style="color: #8250df">var</span><span style="color: #24292f;background-color: #f6f8fa">(</span><span style="color: #0550ae">--</span><span style="color: #24292f;background-color: #f6f8fa">lesli-theme-font-color</span><span style="color: #0550ae">,</span> <span style="color: #24292f">#{</span><span style="color: #0550ae">$lesli-font-color</span><span style="color: #24292f">}</span><span style="color: #24292f;background-color: #f6f8fa">);</span>
<span style="color: #24292f;background-color: #f6f8fa">}</span>
</code></pre>
<blockquote>
<p>You can modify the CSS variables at runtime, so your users can modify the theme.</p>
</blockquote>

<h2>Bulma customization</h2>

<p>You can customize bulma changing the value of the variables, see: <a href="https://bulma.io/documentation/customize/variables/">https://bulma.io/documentation/customize/variables/</a></p>

            </div>
            <div class="documentation-footer">
                <div class="level">
                    <div class="level-left">
                        <div class="level-left">
                            <a href="/" class="">
                                <%= image_tag("brand/lesli-name.svg", alt: "Lesli logo", width: "68") %>
                            </a>
                        </div>
                    </div>
                    <div class="level-right">
                        <a class="mx-5" href="https://github.com/LesliTech/lesli.dev/blob/master/docs/theming/40-customization.md" target="_blank">
                            Edit this page on GitHub
                        </a>
                    </div>
                </div>
            </div>
            <%= partial("partials/footer") %>
        </section>
    </main>