<section class="columns mt-0 mb-0">
        <div class="documentation-navigation column is-3 is-hidden-touch">
            <figure>
                <%= inline_svg("brand/lesli-name.svg") %>
            </figure>
            <%= partial("documentation/navigation") %>
        </div>
        <div class="documentation-container column">
            <%= partial("partials/navigation") %>
            <div class="documentation-content">
                <h1>Database migrations and versioning</h1>

<p>Each engine of Lesli has it&#39;s own migration prefix which conforms the first 4 digits of the migration file.</p>

<h2>Explaning migrations code</h2>

<p>The migration code is conformed by <strong>engine code</strong> + <strong>migration identifier</strong> + <strong>version</strong></p>

<p>Engine Code: <code>0100 (CCEE)</code></p>

<p>Migration identifier: <code>0001 (NNTT)</code></p>

<p>Folder Version: <code>v10 (VV)</code></p>

<p>Code: <code>0100000110 (CCEENNTTVV)</code></p>

<h2>Database versioning</h2>

<p>Every stable version of the platform should come with their own database structure; Lesli database version is completely different from Rails migration versioning.</p>

<p>Every change (version) of the database should be in their own folder, the folder should be named with the name of the current working version of the system and the migration should be sufixed with the same version that we are currently working on.</p>

<h3>Database versioning example</h3>

<table class="table is-bordered is-striped is-narrow is-fullwidth"><thead>
<tr>
<th>version</th>
<th>migration name</th>
</tr>
</thead><tbody>
<tr>
<td>version <strong>1.0</strong></td>
<td>01000003<strong>10</strong>_create_test  (base migration)</td>
</tr>
<tr>
<td>version <strong>1.1</strong></td>
<td>01000003<strong>11</strong>_alter_test   (add a new field)</td>
</tr>
<tr>
<td>version <strong>1.2</strong></td>
<td>01000003<strong>12</strong>_alter_test   (add a new field)</td>
</tr>
<tr>
<td>version <strong>2.0</strong></td>
<td>01000003<strong>20</strong>_alter_test   (change field from string to integer)</td>
</tr>
</tbody></table>

<h2>Database versioning standard</h2>

<h3>Create Table</h3>

<p>The correct migration name to create a table is <strong>create_table_name</strong>.</p>

<p>Example:</p>

<p>Assuming we have the following migrations defined and we want to create new table <strong>(user_shortcuts)</strong>.</p>
<pre class="textplain"><code>v1.0/
    01000000310_create_users.rb
    01000003110_create_user_details.rb
    01000003210_create_user_settings.rb
    01000003310_create_user_sessions.rb
    01000003410_create_user_requests.rb
    01000003510_create_user_activites.rb
    01000003610_create_user_roles.rb
    01000003710_create_user_logs.rb
    01000003810_create_user_access_codes.rb
</code></pre>
<p>The correct migration code is 0100003811.</p>

<p>Explanation:<br>
- Engine code: <strong>0100</strong><br>
- Migration identifier prefix for users: <strong>003</strong><br>
- Available identifier sufix for users: <strong>9</strong><br>
- Folder version: <strong>1.1</strong></p>

<p><strong>1.</strong> Create migration using the scaffold generator</p>
<pre class="shell"><code>  rails generate scaffold user_shortcuts
</code></pre>
<p><strong>3.</strong> Rename the migration with a standard name.</p>
<pre class="textplain"><code>  20211029165345_create_user_shortcuts.rb ——&gt; /v1.1/01000003911_create_user_shortcuts.rb
</code></pre>
<p><br /></p>

<h3>Alter Table</h3>

<p>For any change on the table the correct migration name is <strong>alter_table_name</strong>.</p>

<ul>
<li>Add column</li>
<li>Rename column</li>
<li>Remove column</li>
<li>Change column type</li>
</ul>

<p>Example:</p>

<p>Assuming we have the following database definition.</p>
<pre class="ruby"><code><span style="color: #cf222e">class</span> <span style="color: #953800">CreateTests</span> <span style="color: #0550ae">&lt;</span> <span style="color: #953800">ActiveRecord</span><span style="color: #0550ae">::</span><span style="color: #953800">Migration</span><span style="color: #24292f;background-color: #f6f8fa">[</span><span style="color: #0550ae">6.0</span><span style="color: #24292f;background-color: #f6f8fa">]</span>
    <span style="color: #cf222e">def</span> <span style="color: #8250df">change</span>
        <span style="color: #24292f;background-color: #f6f8fa">create_table</span> <span style="color: #0a3069">:tests</span> <span style="color: #cf222e">do</span> <span style="color: #0550ae">|</span><span style="color: #24292f;background-color: #f6f8fa">t</span><span style="color: #0550ae">|</span>
            <span style="color: #24292f;background-color: #f6f8fa">t</span><span style="color: #24292f;background-color: #f6f8fa">.</span><span style="color: #8250df">string</span>    <span style="color: #0a3069">:name</span>
            <span style="color: #24292f;background-color: #f6f8fa">t</span><span style="color: #24292f;background-color: #f6f8fa">.</span><span style="color: #8250df">string</span>    <span style="color: #0a3069">:description</span>
            <span style="color: #24292f;background-color: #f6f8fa">t</span><span style="color: #24292f;background-color: #f6f8fa">.</span><span style="color: #8250df">boolean</span>   <span style="color: #0a3069">:active</span>

            <span style="color: #24292f;background-color: #f6f8fa">t</span><span style="color: #24292f;background-color: #f6f8fa">.</span><span style="color: #8250df">timestamps</span>
        <span style="color: #cf222e">end</span>
    <span style="color: #cf222e">end</span>
<span style="color: #cf222e">end</span>
</code></pre>
<p><strong>1.</strong> Add a new field on the table.</p>
<pre class="shell"><code>  rails generate migration alter_tests
</code></pre>
<p><strong>2.</strong> Rename the migration with a standard name.</p>
<pre class="textplain"><code>  20211029165321_alter_tests.rb ——&gt; /v1.1/0100000111_alter_tests.rb
</code></pre>
<p><strong>3.</strong> Add a new column.</p>
<pre class="ruby"><code><span style="color: #cf222e">class</span> <span style="color: #953800">CreateTests</span> <span style="color: #0550ae">&lt;</span> <span style="color: #953800">ActiveRecord</span><span style="color: #0550ae">::</span><span style="color: #953800">Migration</span><span style="color: #24292f;background-color: #f6f8fa">[</span><span style="color: #0550ae">6.0</span><span style="color: #24292f;background-color: #f6f8fa">]</span>
    <span style="color: #cf222e">def</span> <span style="color: #8250df">change</span>
        <span style="color: #24292f;background-color: #f6f8fa">add_column</span> <span style="color: #0a3069">:tests</span><span style="color: #24292f;background-color: #f6f8fa">,</span> <span style="color: #0a3069">:importance</span><span style="color: #24292f;background-color: #f6f8fa">,</span> <span style="color: #0a3069">:string</span>
    <span style="color: #cf222e">end</span>
<span style="color: #cf222e">end</span>
</code></pre>
<h3>Drop Table</h3>

<p>The correct migration name to delete a table is <strong>drop_table_name</strong>.</p>

<p>Example:<br>
<strong>1.</strong> Create migration</p>
<pre class="shell"><code>  rails generate migration drop_tests
</code></pre>
<p><strong>2.</strong> Rename the migration with a standard name</p>
<pre class="textplain"><code>  20211029165321_drop_tests.rb ——&gt; /v1.2/0100000112_drop_tests.rb
</code></pre>
<p><strong>3.</strong> Drop table</p>
<pre class="ruby"><code><span style="color: #cf222e">class</span> <span style="color: #953800">DropTests</span> <span style="color: #0550ae">&lt;</span> <span style="color: #953800">ActiveRecord</span><span style="color: #0550ae">::</span><span style="color: #953800">Migration</span><span style="color: #24292f;background-color: #f6f8fa">[</span><span style="color: #0550ae">6.1</span><span style="color: #24292f;background-color: #f6f8fa">]</span>
    <span style="color: #cf222e">def</span> <span style="color: #8250df">change</span>
        <span style="color: #24292f;background-color: #f6f8fa">drop_table</span> <span style="color: #0a3069">:tests</span>
    <span style="color: #cf222e">end</span>
<span style="color: #cf222e">end</span>
</code></pre>
            </div>
            <div class="documentation-footer">
                <div class="level">
                    <div class="level-left">
                        <div class="level-left">
                            <a href="/" class="">
                                <%= image_tag("brand/lesli-name.svg", alt: "Lesli logo", width: "68") %>
                            </a>
                        </div>
                    </div>
                    <div class="level-right">
                        <a class="mx-5" href="https://github.com/LesliTech/lesli.dev/blob/master/docs/database/versioning.md" target="_blank">
                            Edit this page on GitHub
                        </a>
                    </div>
                </div>
            </div>
            <%= partial("partials/footer") %>
        </div>
    </section>