<main class="columns mt-0 mb-0">
        <aside class="documentation-navigation column is-3 is-hidden-touch">
            <a href="/">
                <figure>
                    <%= inline_svg("brand/lesli-name.svg") %>
                </figure>
            </a>
            <%#= partial("documentation/navigation-sidebar") %>
            <%= partial("partials/docs-navigation-aside")%>
        </aside>
        <section class="documentation-container column">
            <%= partial("partials/docs-navigation-navbar")%>
            <div class="documentation-content">
                <h1>Lesli design system</h1>

<h2>Lesli logo</h2>

<div class="columns mt-4">
    <div class="column pt-4 pl-6 pb-6 has-background-grey-lighter">
        <h4 class="mb-2">Standard</h4>
        <%= image_tag("brand/lesli-name.svg", :alt => "Lesli logo", :width => "200") %>
    </div>
    <div class="column pt-4 pl-6 pb-6 has-background-grey-darker">
        <h4 class="mb-2 has-text-white">Negative</h4>
        <%= image_tag("brand/lesli-name-white.svg", :alt => "Lesli logo", :width => "200") %>
    </div>
</div>

<p><br><br></p>

<h2>Color palette</h2>

<div class="columns mt-4">
    <div class="column has-text-centered p-6 has-text-white" style="background:#0d52bf;">
        LESLI BLUE <br> #0D52Bf
    </div>
    <div class="column has-text-centered p-6 has-text-white" style="background:#001f66;">
        DARK BLUE<br> #001F66
    </div>
    <div class="column has-text-centered p-6 has-text-primary" style="background:#EBF1FF;">
        FADED BLUE <br> #EBF1FF
    </div>
    <div class="column has-text-centered p-6 has-text-white" style="background:#7E9BF1;">
        EASY BLUE <br> #7E9BF1
    </div>
</div>

            </div>
            <div class="documentation-footer">
                <div class="level">
                    <div class="level-left">
                        <div class="level-left">
                            <a href="/" class="">
                                <%= image_tag("brand/lesli-name.svg", alt: "Lesli logo", width: "68") %>
                            </a>
                        </div>
                    </div>
                    <div class="level-right">
                        <a class="mx-5" href="https://github.com/LesliTech/lesli.dev/blob/master/docs/design/10-colors.md" target="_blank">
                            Edit this page on GitHub
                        </a>
                    </div>
                </div>
            </div>
            <%= partial("partials/footer") %>
        </section>
    </main>