---
title: Gems
layout: website
---

<% gems = data.send(I18n.locale.to_sym).component_gems %>

<header>
    <%= partial("partials/lesli-navigation", :locals => { :logo => true }) %>
    <div class="container">
        <%= image_tag "brand/lesli.svg", alt: "Lesli logo", class: "lesli-logo" %>
        <h2><span class="lesli-title-colored"><%= gems[:title] %></span></h2>
        <p><%= gems[:text] %></p>
    </div>
</header>

<%= partial("components/lesli-gems", :locals => { :header => false }) %>
